
*.log
quick-test
test
tmp
temp
tmp.*
temp.*
*.tmp
*.temp
*.sh
*.tern-project*
*.editorconfig*
*.eslintrc*
.git*
/.vscode
/.travis.yml
/appveyor.yml
/circle.yml
/sh
/coverage
/codegen
docs
yarn.lock
package-lock.json
shrinkwrap*
pnpm-lock*
renovate*
tsconfig*
jest.config*
*.ts
!*.d.ts
*.map.*
